/* Testimonials */
.testimonialsSection {
    background-color: hsla(0, 0%, 85%, 0.3);
    padding-block: 4rem;
  }
  
  .testimonialsSectionContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
    
  .testimonialTitle {
      display: flex;
      flex-direction: column;
      gap: 2rem;
  }
  
  .testimonialTitle > p{
      color: var(--clr-grey-3);
      font-size: 0.875rem;
  }
  
    .testimonialTitle > h2{
      font-size: clamp(1.875rem, 2.5vw + 1rem, 3.125rem);
      font-family: var(--font-didot);
    }
    
    .orangeText {
      color: orange;
    }
    
    .testimonialsControl {
      display: flex;
      gap: 1rem;
    }
    
    .testimonialsControl > button {
      /* background-color: var(--clr-grey-1); */
      border: none;
      font-size: 1.0625rem;
      padding: 0.5rem;
      cursor: pointer;
      color: var(--clr-grey-2);
      transition: background 0.3s ease;
      border-radius: 0.2rem;
    }
    
    .testimonialsControl > button:hover {
      background-color: var(--clr-grey-3);
    }
    
    .testimonialGrid {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
    }
  
    .testimonialGroup {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
    
    .testimonialCard {
      background-color: #fff;
      border-radius: 1rem;
      padding: 1.5rem;
      max-width: 35rem;
      width: 100%;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
      transition: transform 0.3s ease;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 1rem;
    }
    
    .testimonialCard:hover {
      transform: translateY(-5px);
    }
  
    .testimonialCard  h4{
      font-size: 1rem;
      font-family: var(--font-didot);
      color: #0f0f0f;
    }
    
    .comment {
      font-size: 0.8125rem;
      color: #4A4A4A;
      margin-top: 1rem;
    }
    
    .person {
      display: flex;
      align-items: center;
      gap: 1rem;
      font-size: 0.8125rem;
      color: #4A4A4A;
    }
    
    .avatar {
      object-fit: cover;
      object-position: top;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
    }
  
    .disabled {
      opacity: 0.4;
      pointer-events: none;
    }
    
    
    @media (min-width: 768px) {  
      .testimonialCard {
        max-width: 22.5rem;
      }
      .testimonialGrid {
        flex: 1;
      }
      .testimonialsSectionContainer {
        flex-direction: row;
      }
      .testimonialTitle{
        width: min(50%, 22.5rem);
      }
    }
  
    @media (min-width: 900) {
      
      .testimonialGrid {
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
      }
  
      .testimonialGroup {
        flex-direction: row;
      }
    }
    